<div class="actionbuttons-container">
    <div class="actionbuttons-wrapper">
        <a href="work.html" class="action-btn work-btn">
            <span class="btn-icon"><i class="fas fa-briefcase"></i></span>
            <span class="btn-text">Check my work</span>
        </a>
        <a href="projects.html" class="action-btn projects-btn">
            <span class="btn-icon"><i class="fas fa-code-branch"></i></span>
            <span class="btn-text">Check my projects</span>
        </a>
    </div>
</div>
