<div class="card">
    <div class="card-header">
        <h2>Sajitha Fonseka</h2>
        <div class="social-icons">
            <a href="mailto:sajithafonsekads@gmail.com">
                <div class="icon">
                    <img src="/public/assets/mail.png" alt="Mail">
                </div>
            </a>
            <a href="https://github.com/realHex" target="_blank">
                <div class="icon">
                    <img src="/public/assets/github.png" alt="GitHub">
                </div>
            </a>
            <a href="https://www.linkedin.com/in/sajithafonseka/" target="_blank">
                <div class="icon">
                    <img src="/public/assets/linkedin.png" alt="LinkedIn">
                </div>
            </a>
        </div>
    </div>
    <p class="location"><i class="fas fa-map-marker-alt"></i> Colombo, Sri Lanka</p>
    <p>I'm a 21 year old Full-Stack Developer who is also AWS Solutions Architect Certified.
        I've always had a knack for programming. Oh yes, I can also edit.</p>
</div>