<div class="projects-container">
    <h1 class="projects-heading">My Projects</h1>
    
    <div class="project-card">
        <div>
            <h2>LockedIn - Secure Exam Browser</h2>
            <p style="text-align: justify;">LockedIn is a secure exam application that allows organizers to create 
                exams and students to participate in those exams. The application is designed to prevent cheating
                by restricting access to unauthorized resources during the exam.
            </p>
            <br><hr><br>
            <div class="project-content">
            <div class="project-image">
                <img src="public/assets/lockedin/organizer.png" alt="LockedIn Organizer">
            </div>
            <div class="project-description">
                <h3>Organizer Application</h3>
                <p>Allows Organizers to:</p>
                <ul style="padding-left: 3rem;">
                    <li>Customize and create exams</li>
                    <li>Allow specific sites/apps for students</li>
                    <li>Assign students to groups and halls</li>
                    <li>Track student activity in real-time</li>
                    <li>Remotely control student browsers</li>
                    <li>Send live notifications to students</li>
                    <li>Check exam history and attendance</li>
                </ul>    
            </div>
            </div>
        </div>
        <br>
        <p><center><b>Technologies used:</b> React, Supabase</center></p>
        <br><hr><br>
            <div class="project-content">
            <div class="project-image">
                <img src="public/assets/lockedin/student.png" alt="LockedIn Student">
            </div>
            <div class="project-description">
                <h3>Student Application</h3>
                <p>Allows Students to:</p>
                <ul style="padding-left: 3rem;">
                    <li>See and access scheduled/ongoing/past exams</li>
                    <li>Securely participate in exams</li>
                    <li>Enables Lockdown and only allows accessing exam</li>
                    <li>Register device beforehand</li>
                </ul>    
            </div>
    </div>
    <br><p><center><b>Technologies used:</b> PyQt5, Python, FastAPI, Supabase</center></p>
    <p><center>Team Project - 6 members</center></p>
    <p><center>Team Role - Project Lead</center></p>

</div>

<br><br><br>


<div class="project-card">
    <div>
        <h2>Event Ticket Booking System</h2>
        <p style="text-align: justify;">A real-time multi-threaded ticket booking simulation that allows multiple 
            vendors to add tickets, and multiple users to buy tickets. The system is designed to handle multiple
            users and vendors concurrently.
        </p>
        <br><br>
        <div>
        <div class="project-image">
            <img src="public/assets/ticketsystem/system.png" alt="ticketsystem">
        </div>
        <br>
        <div class="project-description">
            <h3>Features</h3>
            <ul style="padding-left: 3rem;">
                <li>Provides input fields, configuration options, and control buttons.</li>
                <li>Shows ticket status, transaction logs, and real-time updates while logging transactions and configurations.</li>
                <li>Polls the backend to fetch and display updates, implementing multi-threaded vendor and customer operations.</li>
                <li>Thread safety is ensured using ReentrantLock for managing ticket additions and purchases.</li>
                <li>REST APIs enable frontend-backend communication, supporting real-time ticket sales updates with charts.</li>
                <li>System stores transaction data in a database and allows adding vendors/customers at runtime, including priority ticket access for VIP customers.</li>
            </ul>    
            <br>
            <p><center><b>Technologies used:</b> Java, Springboot, Angular, MongoDB</center></p>
        </div>
        </div>
    </div>
    <br>
</div>


<br><br><br>


<div class="project-card">
    <div>
        <h2>Quized - A quiz application</h2>
        <p style="text-align: justify;">A quiz application that allows users to upload their own question sets
            and take quizzes. The user can upload csv files containing the question set. The application will
            parse the csv file and store the questions in the database. The user can then attempt that quiz.
        </p>
        <br><br>
        <div>
        <div class="project-image">
            <div class="carousel-container">
                <button class="carousel-button prev">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button class="carousel-button next">
                    <i class="fas fa-chevron-right"></i>
                </button>
                <div class="carousel-slide">
                    <img src="public/assets/quized/dashboard.png" alt="Dashboard">
                </div>
                <div class="carousel-slide">
                    <img src="public/assets/quized/quiz.png" alt="Quiz">
                </div>
                <div class="carousel-slide">
                    <img src="public/assets/quized/complete.png" alt="Complete">
                </div>
                <div class="carousel-slide">
                    <img src="public/assets/quized/history.png" alt="History">
                </div>
                <div class="carousel-slide">
                    <img src="public/assets/quized/import.png" alt="Import">
                </div>
            </div>
        </div>
        <br>
        <div class="project-description">
            <h3>Features</h3>
            <ul style="padding-left: 3rem;">
                <li>Allows user to upload CSV files containing questions</li>
                <li>Saves the quizzes to the database</li>
                <li>Allows attempting those quizzes and stores the score in History</li>
                <li>Allows deleting quizzes the user uploaded themself</li>
                <li>Allows other users to attempt another user's quizzes</li>
            </ul>    
            <br>
            <p><center><b>Technologies used:</b> React, Next.js, Supabase</center></p>
        </div>
        </div>
    </div>
    <br>
</div>
