<div class="work-container">
    <h1 class="work-heading">My Work</h1>
    
    <div class="work-cards">
        <div class="work-card" data-target="youtube">
            <h2>YouTube</h2>
            <p>Click to expand</p>
        </div>
        
        <div class="work-card" data-target="middleman">
            <h2>Middleman</h2>
            <p>Click to expand</p>
        </div>
    </div>
    
    <div class="work-details youtube-details hidden">
        <button class="back-btn">&larr; Back</button>
        <h2>My YouTube Channel: Hexun</h2>
        <h3><center>Experience: 6 years</center></h3>
        <div class="image-container">
            <img src="public/assets/youtube/channel.png" alt="YouTube Channel" class="project-image">
        </div>
        <br>
        <div class="description">
            <p>I created my Youtube channel when I was 11 years old (2016). I always loved making content
                and sharing stuff that I knew, so editing was really fun for me. I mostly made gaming videos, tutorials and editing packs
                (so that other people can use them when they are editing).
            </p>
            <p>I have stopped editing currently, but I do plan on returning sometime very soon :)</p>
            <br>
            <p><b>Some applications I've used throughout my editing journey</b></p>
            <ul style="padding-left: 3rem;">
                <li>Adobe Premiere Pro</li>
                <li>Adobe After Effects</li>
                <li>Adobe Photoshop</li>
                <li>Sony Vegas Pro</li>
                <li>Blender</li>
                <li>Cinema 4D</li>
                <li>Camtasia</li>
            </ul>
            <br>    
            <p><b>Fun facts about my channel</b></p>
            <ul style="padding-left: 3rem;">
                <li>My channel has a total of 1,001,340 views
                    <div class="image-container">
                        <img src="public/assets/youtube/views.png" alt="Channel Views" class="project-image">
                    </div>
                </li>
                <li>My most popular video was on "How to get unlimited coins and gems in Shadow Fight 2" with over 270k views
                    <div class="image-container">
                        <img src="public/assets/youtube/shadowfight.png" alt="Shadow Fight 2 Video" class="project-image">
                    </div>
                </li>
                <li>My First video was "How to use Xpadder on Windows 10" published on 21st January, 2016.
                    <div class="image-container">
                        <img src="public/assets/youtube/xpadder.png" alt="Xpadder Video" class="project-image">
                    </div>
                </li>
                <li>Over 10000 people downloaded my editing packs!</li>
                <li>Sadly I stopped uploading after I reached 5k subs :(</li>
            </ul>
        </div>
    </div>
    
    <div class="work-details middleman-details hidden">
        <button class="back-btn">&larr; Back</button>
        <h2>Online Middleman</h2>
        <h3><center>Experience: 3 years</center></h3>
        <br><br>

        <div class="description">
            <p>A middleman refers to a person who makes sure a trade/sale happens safely and smoothly between two parties.</p>

            <p>People trade/sell things such as Social media accounts, Ingame accounts, Ingame items online. But it's difficult
                for two people to do that safely, since it allows one side to scam the other. That's where I come in.
            </p>
            <br>
            
            <button id="toggle-simplified" class="toggle-btn">Show Middleman Simplified</button>
            <div id="simplified-image-container" class="image-container hidden">
                <img src="public/assets/middleman/simplemm.jpg" 
                style="max-width: 60%; max-height: 60%;" alt="Middleman Simplified" class="project-image">
            </div>
            
            <br>
            <p>My job as a middleman was to make sure that both parties received their end of the trade safely and fairly. 
                This meant that I had
                to be a trusted person among the community, which was difficult at first, but as I did more and more trades, 
                the people who I helped complete trades successfully vouched for me and recommended me to others.
            </p>

            <p>I help people complete their trades, and in return they vouch and pay me.
            </p>

            <p>I have been a middleman for over 3 years and have completed over 300 successful trades, with over 600 people
                vouching for me.
            </p>

            <p><b>Things I had to do as a middleman</b></p>
            <ul>
                <li>If it was a social/ingame account, I had to login to that said account and take screenshots so that the buyer
                    can confirm that it was infact the correct item/account.
                </li>
                <br>
                <li>I would then take the item from the seller, and keep it in my possession securely. Depending on the item, this involved
                    checking if it was the correct item, changing the linked email address, changing passwords, adding 2FA etc.
                    This was done so that there was no way for the seller to get the item back.
                </li>
                <br>    
                <li>Once both parties confirmed that they were satisfied with the trade, I would give the item to the buyer and
                    the payment to the seller. </li>
                    <br>        
                <li>This was a risky business, since one wrong move from my side and it could lead to a potential scam.</li>  
                <br>  
                <li>I also had to make sure to write down the names of the people whom I helped trade, their ids. I also screenrecorded
                    the whole trade process so that if there was a dispute, I could show the video as proof.
                </li>  
                <br>
                <li>Doing this job meant I had to constantly interact with different kinds of people. Which was good at times, and not
                    so good at other times. Nevertheless, it did teach me a lot of things about people and how to deal with them.
                    It also taught me a lot about being patient and how to handle stressful situations. Almost like a Customer Service job.
                </li>  
            </ul>    
        </div>

        <div class="image-container">
            <img src="public/assets/middleman/videos.png" alt="Middleman Videos" class="project-image">
        </div>
        <p><center>Screenshot of the screenrecorded trades</center></p>
    </div>
</div>
