.tech-card {
    width: 75%;
    background-color: #121212;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 1rem auto;
}

.tech-title {
    font-size: 2.5rem;
    font-weight: 500;
    color: #f0f0f0;
    margin-bottom: 2rem;
}

.tech-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.tech-row-wrapper {
    max-width:  80%;
    outline: 3px solid lime;
}

.tech-row-wrapper[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 10%, 90%, transparent); /*For chromium browsers*/
    mask: linear-gradient(90deg, transparent, white 10%, 90%, transparent);
}

.tech-row-wrapper[data-animated="true"] .tech-row {
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll var(--_animation-duration, 40s) 
    var(--_animation-direction, forwards)linear infinite;
}

.tech-row-wrapper[data-speed="slow"] {
    --_animation-duration: 80s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.tech-row {
    display: flex;
    gap: 1rem;
    transition: transform 0s linear;
}

.tech-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-right: 1rem;
}

.tech-item img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.tech-item span {
    font-size: 1.2rem;
    color: #d0d0d0;
}
